<div class="limiter">
    <div class="container-login">
        <mat-card>
            <div class="mat-elevation-z8" *ngIf="isResultsLoading">
                <div class="loading-shade">
                    <mat-spinner *ngIf="isResultsLoading" color="accent"></mat-spinner>
                </div>
            </div>
            <mat-card-title>
                {{title}}
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="authForm" class="form-container" (ngSubmit)="onSubmit()" novalidate>
                    <mat-form-field color="accent">
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="authForm.controls.email.invalid && authForm.controls.email.touched">Email is Required</mat-error>
                    </mat-form-field>
                    <mat-form-field color="accent">
                        <input matInput placeholder="Password" type="password" formControlName="password">
                        <mat-error *ngIf="authForm.controls.password.invalid && authForm.controls.password.touched">Password is Required</mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button [disabled]="!authForm.valid" type="submit" color="accent">{{title}}</button>
                    </div>
                </form>
            </mat-card-content>
            <div class="alternative" *ngIf="title === 'Login'">
                <p>Don't have an account?</p>
                <button mat-raised-button [routerLink]="['/signup']" color="accent">SignUp</button>
            </div>
            <div class="alternative" *ngIf="title === 'Signup'">
                <p>Already have an account?</p>
                <button mat-raised-button [routerLink]="['/login']" color="accent">Login</button>
            </div>
        </mat-card>
    </div>
</div>>