table {
    width: 100%;
    overflow: auto;
}

.example-container {
    height: 592px;
    position: relative;
}

.menu-bar {
    position: absolute;
    right: 60px;
    color: rgb(255, 255, 255);
    background-color: #ff4081;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}