table {
    width: 100%;
}

.example-container {
    height: 400px;
    overflow: auto;
}

.menu-bar {
    position: absolute;
    right: 60px;
    color: rgb(255, 255, 255);
    background-color: #ff4081;
}